* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.aesthetic {
    background-color: #009788;
    width: 100vw;
    height: 10vh;
    position: absolute;
    z-index: -1;
    margin-top: -2vh;
}
.main-container {
    height: 96vh;
    width: 90vw;
    margin: 2vh auto 2vh auto;
    border: 1px solid black;
    display: flex;
}
.box.contactsDesk {
    flex: 0 1 auto;
    width: 250px;
    border: 1px solid black;
}
.box.chatDesk {
    flex: 1 1 auto;
}
.box {
    display: flex;
    flex-direction: column;
}
.toolbar {
    height: 50px;
    background-color:#EDEDED;
}
.contactPreview {
    flex: 1 0 auto;
}
.chatArea {
    flex: 1 1 auto;
    background-image: url("../img/mine.jpg");
}