<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

    <title>boolzapp</title>
</head>
<body>
    <div class="aesthetic">       
    </div>

    <main class="main-container" id="root">
        <div class="box contactsDesk">
            <div class="toolbar box-pad">
                <div class="sm-imgbox">
                    <img :src="loadedPic" alt="loaded profile pic">
                </div>
                <div class="growth1">

                </div>
                <div class="sm-iconbox">
                    <i class="fa fa-circle-o-notch" aria-hidden="true"></i>
                </div>
                <div class="sm-iconbox">
                    <i class="fa fa-comment" aria-hidden="true"></i>
                </div>
                <div class="sm-iconbox">
                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                </div>

            </div>
            <div class="silent-mode box-pad">
                <div class="alert-ibox">
                    <i class="fa fa-bell-slash" aria-hidden="true"></i>
                </div>
                <div class="f-col box-pad">
                    <h5>Ricevi notifiche di nuovi messaggi</h5>
                    <a href="#">attiva notifiche desktop</a>
                </div>

            </div>
            <div class="search-box box-pad">
                <div class="search">
                    <span class="search-icon">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </span>
                    <input type="text" v-model="searchContact" placeholder="Cerca o inizia una nuova chat">
                    <span class="search-icon" v-if="searchContact" @click="searchContact = ''">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </span>                    
                </div>
                <!-- v-mode x ricerca chat -->
            </div>
            <div class="contactPreview box-pad">
                <!-- v-for -->
                <div class="contactlist box-pad" v-for = "(contact, index) in searchAContactList" @click="openChatOnClick(contact)">
                    <div class="md-imgbox">
                        <img :src="contact.avatar">
                    </div>
                    <div class="messagePreview growth1 f-col box-pad">
                        <h5>{{contact.name}}</h5>
                        <p> {{lastReceivedMessage(index)}} <span> {{selectLastAccess(index)}} </span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="box chatDesk">
            <div class="toolbar box-pad">
                <div v-if="activeChat">
                    <div class="contactlist box-pad">
                        <div class="sm-imgbox">
                            <img :src="activeChat.avatar">
                        </div>
                        <div class="messagePreview growth1 f-col box-pad">
                            <h5>{{activeChat.name}}</h5>
                            <p class="smaller">ultimo accesso ore {{ActiveChatLastAccess}}</p>
                        </div>
                    </div>
                </div>
                <div class="growth1">

                </div>
                <div class="sm-iconbox">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </div>
                <div class="sm-iconbox">
                    <i class="fa fa-paperclip" aria-hidden="true"></i>
                </div>
                <div class="sm-iconbox">
                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                </div>

            </div>
            <div class="chatArea box-pad" >
                <div class="chat" v-for="(message,index) in activeChat.messages" :key="index"
                    :class="{chatIn: message.status === 'received',
                    chatOut: message.status === 'sent'}">
                    {{message.text}}
                    <div class="arrow-chat" :class="{ white: message.status === 'received',
                        green: message.status === 'sent'}">
                    </div>
                    <i class="fa fa-chevron-down drop-menu" @click="showDroppedMenu(index)"></i>
                    <div class="droppedMenu" v-if="message.popupActive">
                        <p>message info</p>
                        <p @click="deleteMsg(index)">delete message</p>
                    </div>
                    <div class="msg-timer">{{convertDateToTime(message.date)}}</div>
                </div>
            </div>
            <div class="toolbar box-pad">
                <div class="sm-iconbox">
                    <i class="fa fa-smile-o" aria-hidden="true"></i>
                </div>
                
                <div class="keyboard-box growth1">
                    <input type="text" v-model ="writeAMsg" @keyup.enter="sendAMsg()" placeholder="Scrivi un messaggio">
                </div>                
                <div class="sm-iconbox">
                    <i class="fa fa-microphone" aria-hidden="true"></i>
                </div>
                
            </div>
        </div>    
    </main>
   
    
    <script src="scripts/dataList.js"></script>
    <script src="scripts/script.js"></script>
</body>
</html>


            <!-- <div v-for="(message,index) in activeChat.messages" v-if="activeChat">        
                <div class="chatOut box-pad" v-if="message.status === 'sent' ">  
                    <div class="outMsg">{{message.text}}</div>
                    <span class="out-arrow"></span>
                    <span class="msg-timer r-time">{{convertDateToTime(message.date)}}</span>
                    <span class="drop-menu r-drop">
                        <i class="fa fa-chevron-down" @click="showDroppedMenu(index)"></i>
                        <span class="r-dropped droppedMenu" v-show="message.popupActive">
                            <div>message info</div>
                            <div @click="deleteMsg(index)">delete message</div>
                        </span>
                    </span>
                  
                </div>                
                <div class="chatIn box-pad" v-else>   
                    <div class=" inMsg">{{message.text}}</div>
                    <span class="in-arrow"></span>
                    <span class="msg-timer l-time">{{convertDateToTime(message.date)}}</span>
                    <span class="drop-menu l-drop" >
                        <i class="fa fa-chevron-down" @click="showDroppedMenu(index)"></i>
                        <span class="l-dropped droppedMenu" v-if="message.popupActive">
                            <div>message info</div>
                            <div @click="deleteMsg(index)">delete message</div>
                        </span>
                    </span>
                </div>   
            </div>            -->